<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430536845356-dbpcagjobpcdj86lhhsd1a6459h5cdsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430536845356-dbpcagjobpcdj86lhhsd1a6459h5cdsd</string>
	<key>API_KEY</key>
	<string>AIzaSyD4CUiHLFKGRHzzRmHD_6AGubkPy12M6Ro</string>
	<key>GCM_SENDER_ID</key>
	<string>430536845356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petadoption</string>
	<key>PROJECT_ID</key>
	<string>petta-app</string>
	<key>STORAGE_BUCKET</key>
	<string>petta-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430536845356:ios:c6785d990d77bdae4a8989</string>
	<key>DATABASE_URL</key>
	<string>https://petta-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>